@charset "UTF-8";

/* wordpress editor CSS */
.alignright { float: right; }

/* CSS Document */
nav li {  vertical-align: top; } /* sørg for at alle li er placeret i toppen */

.sub-menu li:first-child { margin: 0; } /* det første li element har lidt margin-left, nulstil så den er lige under sin "overmenu" eller sæt den til noget andet hvis du vil have den rykket lidt  */

nav li:hover .sub-menu { display: block;  } /* vis -sub-menu når den overstående li er :hover */
 
.sub-menu li { display: block; } /* Vis li under .sub-menu som en liste (i stedet for inline-block) */


/* GØR IKKE DET HER - "a" elementerne bliver for lange i IE */
/*nav ul li a {
	width:100%;
}*/
/* DET HER ER BEDRE - et block element udfylder sin parent 100% */
nav .sub-menu a {
  display: block;
}

nav .sub-menu { 
	/*background-color:#ECECEC;*/
	background-color:#1F1F1F;
} 

nav .sub-menu {
    display: none;
    position: relative;
    z-index: 600;
}


blockquote {
font-size: 18px;
font-style: italic;
margin: 20px 0 0 0;
padding: 0px 40px;
color: #383838;
border-left: 2px solid #ccc;
}

/*
@media only screen and (max-width: 649px) {
nav .sub-menu {
  display:block;
}
}
*/