@import "_functions";
/**
 * Equal bottom margin for all block elements
 */
blockquote,ul,ol,p,h1,h2,h3,h4,h5,h6 {
  font-weight: 400;
  @include equal-margin();
}

/**
 * Establish vertical rhythm
 * Assign base colors
 * Define base fonts
 */
html{
  color: $base-color;
	font-family:"Open Sans",​sans-serif;
  font-size:rem($base-font-size);
  line-height: lh($base-font-size);
  @include grid-media-query("palm") {
    font-size:rem(.75);
    //line-height: lh(.75);
  }
}
a { cursor:pointer; }
h1, h2, h3, h4, h5, h6 {
  font-family:"Oswald", sans-serif;
  letter-spacing: 1px;
}
h3,h4 { color: $orange-color; }
h1{
    font-size:2rem;
    line-height: lh(2);
}
h2{
    font-size:1.5rem;
    line-height: lh(1.5);
}
h3{
    font-size:1.125rem;
    line-height: lh(1.125);
}
h4{
    font-size:1rem;
    line-height: lh(1);
}
h5{
    font-size:.9rem;
    line-height: lh(.9);
}
ul,li,ol,p,span{
    font-size:0.95rem;
    line-height: lh(0.95);
}
// .lifted span, .lifted p{
//   line-height: ($base-line-height / .9) * 2 / 3;//(4/5);
// //  margin-bottom: rem($base-line-height * (1/4));
// }

a { color: $orange-color; }
strong, b{ color:$header-color; }

/**
 * Imported from Pinboard theme
 */
input[type=submit],
input[type=reset],
input[type=button],
#header,
#slider .entry-title,
#current-location .prefix-text
.page-title,
#sidebar-wide .widget-title,
#sidebar-footer-wide .widget-title,
.entry-author .author,
#sidebar-boxes .widget-title {
  /*might delete as it is set in html selector */
  font-family:"Open Sans", sans-serif;
}

#site-title, 
.entry-title,
#comments-title,
#reply-title,
#post-nav,
#posts-nav,
.widget-title{
  font-family: "Oswald",sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
  overflow: hidden;
}


code,pre {
  font-family:Monaco, Consolas, "Lucida Console", "Bitstream Vera Sans Mono", monospace;
}

kbd,
tt {
  font-family:monospace;
}

abbr,
acronym {
  border-bottom:#999 1px dotted;
  cursor:help;
}

big {
  font-size:1.3em;
}

cite,
em {
  font-style:italic;
}

abbr,
acronym {
  border-bottom:#999 1px dotted;
  cursor:help;
}

cite,
em {
  font-style:italic;
}

.flex-pause {
  font-family: sans-serif;
}
