@function calc-rem($target-px, $context) {
  @return calc-rwd($target-px, $context) * 1rem;
}
@function calc-rwd($target, $context) {
  @return ($target / $context);
}
@function rem($value) {
  @return $value * 1rem;
}
@function lh($font-size) {
  @return $base-line-height / $font-size;
}
@function calc-proportions($n) {
  @return rem($base-line-height * $n);
}
@mixin equal-margin($adjustment:$base-line-height, $top:0) {
  @if unitless($adjustment) {
    $adjustment: rem($adjustment);
  }
  margin: $top auto $adjustment;
}
@mixin box-shadow($offset, $color:#000) {
-webkit-box-shadow: $offset $offset 14px 0px $color;
        box-shadow: $offset $offset 14px 0px $color;
}
// not used
@mixin line-seperator($color) {
  /* compensate for border */
  margin-bottom:(-(rem($base-line-height - (29 / 16))));
  border-bottom: solid 1px $color;
  //@include equal-margin($base-line-height - (29 / 16));
}


// Return vendor-prefixed property names if appropriate
// Example: transition-property-names((transform, color, background), moz) -> -moz-transform, color, background
//************************************************************************//
@function transition-property-names($props, $vendor: false) {
  $new-props: ();
  
  @each $prop in $props {
    $new-props: append($new-props, transition-property-name($prop, $vendor), comma);
  }

  @return $new-props;
}

@function transition-property-name($prop, $vendor: false) {
  // put other properties that need to be prefixed here aswell
  @if $vendor and $prop == transform {
    @return unquote('-'+$vendor+'-'+$prop);
  }
  @else {
    @return $prop;
  }
}

/**
 * From https://github.com/thoughtbot/bourbon/pull/90
 */
@mixin prefixer ($property, $value,
                 $moz:    true,
                 $webkit: true,
                 $o:      false,
                 $ms:     false,
                 $spec:   true) {
  @if $moz    {    -moz-#{$property}: $value; }
  @if $webkit { -webkit-#{$property}: $value; }
  @if $o      {      -o-#{$property}: $value; }
  @if $ms     {     -ms-#{$property}: $value; }
  @if $spec   {         #{$property}: $value; }
}