// osv http://www.wpbeginner.com/wp-themes/default-wordpress-generated-css-cheat-sheet-for-beginners/
//$wp-post: ('post-id', 'post', 'page', 'attachment', 'sticky', 'hentry', 'category-misc', 'category-example', 'tag-news', 'tag-wordpress', 'tag-markup');
/**
 * Seach box
 */
.search-inputs {
  line-height: .8;
  white-space:nowrap;
}
.s,.searchsubmit{  
  background-color:$light-color;
  border:medium none;
  font-size:0.9rem;
  // no line-height! gets really big in web-kit when applied
  padding: .29rem 0;// calc-rem(6, 16) 0;
  vertical-align:top;
}
.s{
  border-radius: 24px 0 0 24px;
  box-shadow:1px 1px 5px 1px rgba(0, 0, 0, 0.1) inset;
  color: #333;
  outline:none;
  padding-left:rem($phi);
  width:100%;
}
.searchsubmit {
  background:url("images/search.png") no-repeat scroll right center $light-color;
  box-shadow:inset -2px 1px 4px 1px rgba(0, 0, 0, 0.09);
  border-radius: 0 24px 24px 0;
  margin-left: -0.4rem;
  width:calc-rem(40,16);
}

