@import "_functions";

/*----------------/
Temlate design for Pragmatic
/----------------*/

/**
 * We use border-box layout
 */
* {
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -ms-box-sizing:border-box;
  border-sizing:border-box;
}

/**
 * Special grid size
 */
.special-one-third { width:27.778%; }

.beam {
  background-color: $black-color;
  min-height: calc-rem(0.2, $base-font-size);
  span {
    color: $light-color;
    display: inline;
  }
  a {
    color: $blue-color;
    text-decoration: none;
  }
}
body .beam:first-child  {
  @include equal-margin($base-line-height - calc-rwd(0.2, $base-font-size));
}
body .beam:last-child  {
  padding-top:rem($base-line-height/2);
}

/**
 * We're using phark image replacement to display the logo
 * and normale image on mobile
 */
.logo {
  /* Phark image replacement */
  background: url("images/pragmatic_logo.v1.png") no-repeat;
  text-indent: -9999px;
  @include equal-margin();
  @include grid-media-query(palm) {
    background:none;
    text-indent:0;
    .logo_body {
      display: none;
    }
  }
}
  .logo_body{
    display:inline-block;
    :last-child{
      margin-bottom:0;
    }
  }

.search-inputs {
  margin-top:calc-proportions(1);
  float:right;
}

/**
 * Navigation
 */
$nav-vertical-spacing:rem($base-line-height/2);
nav {
  background-color:$dark-color;
  @include equal-margin();
  /* KLUDGE: using to 1.83 instead of $base-line-height as it was a little too big in IE and Safari */
  height:rem(1.83);
  ul {
    list-style: none;
    margin: 0;
    li:first-child {
      margin-left:-($nav-vertical-spacing);
    }
    a{
        padding:0 $nav-vertical-spacing;
-webkit-transition:all .4s;
   -moz-transition:all .4s;
    -ms-transition:all .4s;
     -o-transition:all .4s;
        transition:all .4s;
    }
    a:hover,a:active {
      background-color: $text-color;
      color: $dark-color;
    }
    > li{
          &,
          > a{
              display:inline-block;
             *display:inline;
              font-size:.99rem;
              line-height: lh(.99);
              text-decoration: none;
              zoom:1;
          }
    }
  }
  /**
   * .menu ul has, for some reason, space at the top to the menu bar
   * SHAME SHAME
   */
  .menu {
    margin-top:-1px;
  }

  /**
   * Mobile search and menu
   */
  .search-inputs {
    margin-top:0;
    float:none;
  }
  @include grid-media-query(palm) {
    /* sub menu - see also inside .menu-icon below */
    .sub-menu {
      display: block !important;
      & a {
        @include prefixer(transform, translateX(1rem), not moz, webkit, not o, ms);
      }
    }

    .search-inputs input{
      background-color:lighten($dark-color, 6%);
      color:$text-color;
      display:inline-block;/* needed to control width */
    }
    .search-wrapper,.searchform .s,.menu-icon,.menu-name {
      @include prefixer(transition, all .26s ease-in 0s, not moz, webkit, o, ms);
    }
    .s{
      width: 68%;/* magic number that leaves enough room for the submit input */
    }
    .s,.searchsubmit { box-shadow:none; }
    .inactive {
      .s{
        padding-left:0;
        width:0;/* calc-rem(30,16) - .5rem;*/
      }
      .searchsubmit{ border-radius:24px; }
    }

    .menu-icon {
      color:$base-color;
      font-size: 0.95rem;
      line-height: lh(0.95);
      text-align: right;
      text-decoration: none;
      .menu-name {
        text-transform:uppercase;
      }
      //.menu-sign{float:right;}
      ~ .menu-top-menu-container {
        //position: relative;
        & .menu {
          background-color:$dark-color;
          //display:none;TODO: NEEDED AS FALLBACK - SOMEHOW
          position:relative;
          z-index: 500;/*KLUDGE: need because slider sets z-index to 100 below */
          @include prefixer(transform, matrix(1, 0, 0, 0, 0, 0), not moz, webkit, not o, ms);
          @include prefixer(transform-origin, top, moz, webkit, o, ms);
          @include prefixer(transition, transition-property-names(transform, webkit) 0.26s ease-in 0.26s, not moz, webkit, not o, not ms, not spec);
          @include prefixer(transition, transform 0.26s ease-out 0.26s, not moz, not webkit, o, ms);
          & li:first-child{ margin-left:0; }
          & li, & a{
            display:block;
            width:100%;
          }
          > li:nth-child(odd){
            background-color:$text-color;
            color:$dark-color;
            & a{ color:$dark-color; }
          }
          /* overwrite previous set colors for sub menu's */
          & .sub-menu {
            background-color: transparent;
            li {
              background-color: inherit; //#1F1F1F;
            }
            li:hover,li:active {
              background-color: $text-color;
            }
            a:hover,a:active {
              background-color: transparent;
              color: $dark-color;
            }            
          }
        }
      }
    }
    .active .menu-name {
      display: inline-block;
    }
    .menu-icon.active {
      ~ .menu-top-menu-container .menu{
        //display:block;TODO: NEEDED AS FALLBACK - SOMEHOW
        @include prefixer(transform, matrix(1, 0, 0, 1, 0, 0), not moz, ms, webkit, not o);
      }
    }
  }
}


.hero {
  background-color:$base-color;
  color:$text-color;
  min-height:calc-proportions(9);//$hero-height + nav = 10 ≈ 270px
  @include equal-margin($base-line-height, -(rem($base-line-height)));
  h1 {
    //display:inline-block;// why?
    font-size: 3em;
    font-weight: 400;
    line-height:rem($base-line-height*2);
    height:calc-proportions(7);
    /* if h1 is too narrow, then the entire grid collapses for some reason - added extra white space in wordpress */
  }
  img {
    background-color:$light-color;
    //FIXME: Opera includes padding in image height even though border-sizing:border-box is set on all elements;
    display:block;
    float: right; // adjust image to the right of its container
    max-height:calc-proportions(7);
    padding:rem($phi/2);
    
    /* set box-shadow to none while animating */
    @include box-shadow( 4px );
  }
  h1,img{ margin:rem($base-line-height) 0 0; }
  nav {
    background-color: inherit;
    font-family: sans-serif;
    height:rem($base-line-height);
    span {
      font-size:3rem;
      //letter-spacing:-.3rem;
      line-height:lh(3);
      /* KLUDGE: position/top is needed to control the vertical position of the dots */
      position: relative;
      top:calc-rem(3, 16);
    }
    span:hover, span:active{
      color:$dark-color;
      cursor: pointer;
    }
    .cycle-pager-active {
      color:darken($text-color, 30%);
    }
  }
  @include grid-media-query("palm") {
    min-height:calc-proportions(6);
    h1{
      font-size:rem(1.4);
      line-height: lh(1.2);
      height:calc-proportions(5);
    }
  }
}

.teaser {
  background-color:$light-color;
  color:$orange-color;
  @include equal-margin($base-line-height, -(rem($base-line-height)));
  h1,h2,h3,h4,h5 {
    font-style:italic;
    font-weight: 300;
    margin:rem($base-line-height * .5) 0 (-(rem($base-line-height/2)));
    span{ line-height:0;}
  }
  @include grid-media-query("palm") {
    padding-bottom:rem($base-line-height);
  }
}

.panel {
  // allow panels to be used to position elements relative to
  position:relative;

  a{ text-decoration:none; }
  a:hover,a:active{ text-decoration:underline; }
  h2,h3,h4,h5 {
    font-weight: 400;
    padding-top: rem($base-line-height);
    //margin-bottom:rem($base-line-height);
    //margin:rem(lh(1) * .75) 0 rem(lh(1) * .25);
  }
  h2,h3,h4,h5{
    &:first-child{
      padding-top:0;
    }
  }
  p + ul {
    margin:(-(rem($base-line-height/2))) 0 rem($base-line-height/2);
  }
  /*
   * Firefox need to consider top/bottom margins, but not Chrome who has the biggest markets share.
   * Both have roundings erros because our base-line is 30px.
   */   
  @include equal-margin($base-line-height/* - calc-rem(1, 16)*/);
  #img{ max-height:calc-proportions(2); }
}

.lifted {
  border: solid 1px $light-color;
  // counter margin from border with 1px top and the same bottom
 // margin:rem($base-line-height - calc-rwd(1, 16)) 0;
  @include box-shadow(4px, $light-color);
  // counter padding from border with 1px top and the same bottom
  padding:rem($base-line-height - calc-rwd(1, 16)) rem($base-line-height * $phi);
  /* not sure this is legal across browsers */
  > *:last-child{
    margin-bottom:0;
  };
  ul{ padding-left:rem($base-line-height); }
}
  .lifted h1{ color:#000;}
  //.home .lifted h2{ color:$base-color; }
  

.flat {
  img, > *:last-child { @include equal-margin(); }
  margin-bottom:rem($base-line-height - (1 / 16));
  border-bottom: solid 1px $text-color;
  line-height: 1;
  h3,h4{
    color: $header-color;
    margin-bottom:.5rem;
  }
  ul{
    list-style:none;
    margin:0;
  }
  div{
    font-size:0.8rem;
    line-height: lh(0.8);
  }
}

footer {
  background-color:$footer-color;
  border-bottom: solid 1px $base-color;
  padding: rem($base-line-height) 0 0;
  //padding: 0 auto rem(-($base-line-height - (29 / 16)));
  h3,h4{
    margin-bottom:0;
  }
  ul{ list-style:none; }
  li{
    margin-bottom:-(rem(1 / 16));
    border-bottom: solid 1px $text-color;
    &, a{
      color: $blue-color;
      text-decoration: none;
    }
    a:hover{
      text-decoration:underline;
    }
    & ul { margin-bottom:0;}
    & li{
      border-bottom:none;
      margin-bottom:0;
      padding-left: rem($phi);
    }
  }
  // .special-one-third {
  //   :last-child{ padding-right: $gutter; }
  // }
}
