@import "_functions";

/*----------------/
Temlate design for Pragmatic
/----------------*/

/**
 * We use border-box layout
 */
* {
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  border-sizing:border-box;
}

/**
 * Special grid size
 */
.special-one-third { width:27.778%; }

.beam {
  background-color: $black-color;
  min-height: calc-rem(0.2, $base-font-size);
  span {
    color: $light-color;
    display: inline;
  }
  a {
    color: $blue-color;
    text-decoration: none;
  }
}
body .beam:first-child  {
  @include equal-margin($base-line-height - calc-rwd(0.2, $base-font-size));
}
body .beam:last-child  {
  padding-top:rem($base-line-height/2);
}

/**
 * Needs to be redesigned when I get the proper image
 */
.logo {
  /* Phark image replacement */
  background: url("images/pragmatic_logo.png") no-repeat;
  text-indent: -9999px;
  @include equal-margin();
  h1,h2 {
    margin-bottom:rem($base-line-height * 1/2);
  }
}
  .logo_body {
    color:$base-color;
    display:inline-block;
    margin-top:rem($base-line-height/2); /* must be set according to the image height - should be close to $base-line-height*/
  }
  .logo_body,
  .logo_body > :last-child{
      margin-bottom:0;
  }
  #search {
    float:right;
  }


nav {
  background-color:$dark-color;
  ul {    
    list-style:none;
    margin:0;
    li:first-child, a:first-child{
      padding-left:0;
    }
    > li{
          &,
          > a{//FIXME: a is pushed 1px down in FF
              display:inline-block;
             *display:inline;
              font-size:.9rem;
              line-height: lh(.9);
              padding:0 rem($base-line-height/3);
              text-decoration: none;
              zoom:1;
          }
    }
  }
}


.hero {
  background-color:$base-color;
  color:$text-color;
  min-height:calc-proportions(9);//$hero-height + nav = 10 ≈ 270px
  h1 {
    //display:inline-block;// why?
    font-size: 3em;
    font-weight: 400;
    line-height:rem($base-line-height*2);//FIXME: correct when right font is found
    height:calc-proportions(7);
    /* if h1 is too narrow, then the entire grid collapses for some reason */
    //width: 100%;
  }
  img {
    background-color:$light-color;
    //FIXME: Opera includes padding in image height even though border-sizing:border-box is set on all elements;
    display:block;
    float: right; // adjust image to the right of its container
    max-height:calc-proportions(7);
    padding:rem($phi/2);
    
    /* set box-shadow to none while animating */
    @include box-shadow( 4px );
  }
  h1,img{ margin:rem($base-line-height) 0 0; }
  nav { //FIXME:; dots are too low
    background-color: inherit;
    height:rem($base-line-height);
    span {
      font-size:5rem;
      //letter-spacing:-.3rem;
      line-height:lh(5);
      /* FIX: this is needed to control the vertical position of the dots */
      position: relative;
      top:calc-rem(-3, 16);
    }
    span:hover, span:active{
      color:$dark-color;
      cursor: pointer;
    }
    .cycle-pager-active {
      color:darken($text-color, 30%);
    }
  }
}

.teaser {
  background-color:$light-color;
  color:$orange-color;
  @include equal-margin($base-line-height*1.5);
  h2,h3,h4,h5 {
    font-style:italic;
    font-weight: 300;
    margin:rem($base-line-height) 0 (-(rem($base-line-height/2)));
  }
}

.panel {
  h2,h3,h4,h5 {
    font-weight: 400;
    padding-top: rem($base-line-height);
    //margin-bottom:rem($base-line-height);
    //margin:rem(lh(1) * .75) 0 rem(lh(1) * .25);
  }
  h2,h3,h4,h5{
    &:first-child{
      padding-top:0;
    }
  }
  p + ul {
    margin:(-(rem($base-line-height/2))) 0 rem($base-line-height/2);
  }
  @include equal-margin($base-line-height - calc-rem(1, 16));
  ul{ padding-left:rem($base-line-height); }
  #img{ max-height:calc-proportions(2); }
}

.lifted {
  border: solid 1px $light-color;
  // counter margin from border with 2px
  margin-bottom:rem($base-line-height - calc-rwd(2, 16));
  @include box-shadow(4px, $light-color);
  padding:rem($base-line-height) rem($base-line-height * $phi);
  /* not sure this is legal across browsers */
  > *:last-child{
    margin-bottom:0;
  };
}

.flat {
  img, > *:last-child { @include equal-margin(); }
  @include line-seperator($text-color);
  line-height: 1;
  h3,h4{
    color: $orange-color;
    margin-bottom:0;
  }
}

footer {
  background-color:$footer-color;
  border-bottom: solid 1px $base-color;
  padding: rem($base-line-height) 0 0;
  //padding: 0 auto rem(-($base-line-height - (29 / 16)));
  h3,h4{
    margin-bottom:0;
  }
  ul{ list-style:none; }
  li{
    @include line-seperator($base-color);
    &, a{
      color: $blue-color;
      text-decoration: none;
    }
  }
  // .special-one-third {
  //   :last-child{ padding-right: $gutter; }
  // }
}
