@function calc-proportions($n) {
  @return rem($base-line-height * $n);
}
@mixin box-shadow($offset, $color:#000) {
-webkit-box-shadow: $offset $offset 14px 0px $color;
        box-shadow: $offset $offset 14px 0px $color;
}
@mixin line-seperator($color) {
  border-bottom: solid 1px $color;
}
/**
 * We use border-box layout
 */
* {
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  border-sizing:border-box;
}

.beam {
  background-color: $black-color;
  min-height: calc-rem(0.2, $base-font-size);
  span {
    color: $light-color;
    display: inline;
  }
  a {
    color: $blue-color;
    text-decoration: none;
  }
}
body .beam:first-child  {
  @include equal-margin($base-line-height - calc-rwd(0.2, $base-font-size));
}
body .beam:last-child  {
  padding-top:rem($base-line-height/2);
}

header { height:rem($base-line-height * 5); }// fib 5

/**
 * Needs to be redesigned when I get the proper image
 */
.logo {
  img {
    display:block;
    float:left;
    max-height:calc-proportions(3);
    margin-right:rem($base-line-height);// or maybe rem($phi)
  }
  h2 {
    margin-bottom:rem($base-line-height/3);// fib 3
  }
}
  .logo_body {
    display:inline-block;
    margin-top: calc-rem(20, 25.8833); /* must be set according to the image height - should be close to $base-line-height*/
  }
  .logo_body,
  .logo_body > :last-child{
      margin-bottom:0;
  }
  // logo:after {
  //   content:"";
  //   display:table;
  //   clear:both;
  // }


nav {
  background-color:$dark-color;
  /*height:rem($base-line-height*2);
  margin-top:rem( (-$base-line-height) / 2);*/
  ul {    
    list-style:none;
    margin:0;
    li:first-child, a:first-child{
      padding-left:0;
    }
    //padding:rem( $base-line-height / 2) 0;
    > li{
          &,
          > a{
              display:inline-block;
             *display:inline;
              font-size:.6rem;
              line-height: lh(.6);
              padding:0 rem($base-line-height/2);
              text-decoration: none;
              zoom:1;
          }
    }
  }
}


.hero {
  background-color:$base-color;
  color:$text-color;
  min-height:calc-proportions(10);//$hero-height + nav = 11
  h1 {
    display:inline-block;
    font-size: 2em; // not needed for h1 only if we had used a p tag
    line-height:rem($base-line-height*2);//FIXME: correct when right font is found
    height:calc-proportions(8);
  }
  img {
    background-color:$light-color;
    //FIXME: Opera includes padding in image height even though border-sizing:border-box is set on all elements;
    display:block;
    max-height:calc-proportions(8);
    padding:rem($phi/2);
    
    /* set box-shadow to none while animating */
    @include box-shadow( 4px );
  }
  h1,img{ margin:rem($base-line-height) 0 0; }
  nav { //FIXME:; dots are to high up in FF
    background-color: inherit;
    height:rem($base-line-height);
    span {
      font-size:4.6rem;
      letter-spacing:-.3rem;
      line-height:lh(4.6);
    }
    span:hover, span:active{
      color:$dark-color;
      cursor: pointer;
    }
    .active {
      color:darken($text-color, 30%);
    }
  }
}

.teaser {
  background-color:$light-color;
  color:$orange-color;
  font-style:italic;
  height:rem($base-line-height*3);
  @include equal-margin($base-line-height);
  h4 {
    margin:rem(lh(1) / 2) 0;
  }
}

.panel {
  @include equal-margin();
  ul{ padding-left:rem($base-line-height); }
  /* maybe */
  img, > *:last-child { @include equal-margin($base-line-height / 2); }
  /* not sure this is legal across browsers */
  // > *:last-child{
  //   margin-bottom:0;
  // };
}

.lifted {
  border: solid 1px $light-color;
  @include box-shadow(4px, $light-color);
  padding:rem($base-line-height) rem($base-line-height * $phi);
}

.flat {
  h3,h4{ color: $orange-color;}
  @include line-seperator($text-color);
}
$show-design:false;
footer {
  background-color:$footer-color;
  padding-top:rem($base-line-height);

  h3,h4{ color: $red-color;}
  ul{ list-style:none; }
  li{
    @include line-seperator($base-color);
    &, a{
      color: $blue-color;
      text-decoration: none;
    }
  }
}
  .special-one-third {
    width:27.778%;
    @include line-seperator($base-color);
    :last-child{ padding-right: $gutter; }
  }

