html { 
  background: url(../images/design-960-2-spalter.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.controls {
	background: rgba( #fff, $transparency );
	color: rgba( #000, $transparency );
	display: inline-block;
}