//$use-markup-fix: false;
//$use-silent-classes: true;
$gutter: 1.5%;
$transparency:.6;

$Phi: (sqrt(5) + 1 )/2;//1,6180339887
$phi: (sqrt(5) - 1 )/2;//0,6180339887


$base-font-size:1;// 16px
// 32px is choosen because of rounding errors in browsers
$base-line-height:1.875;//30px/16px=1,875rem    //1,875 equals 30px

$base-color: #484848;
$orange-color: #f48245;
$blue-color: lighten(#5081B3, 10%);
$header-color: #000;
$black-color: #111;
$dark-color: rgb(31,31,31);//#2a2a2a;
$light-color:#E2E2E2;//#f8f8f8;
$hero-background-color: $dark-color;//slider
$text-color: #bbbdbf;
$footer-color:#222;

// only used while designing
$show-design:false;

// change breakpoints sligthly
$breakpoints: (
    'palm' '(max-width: 649px)',
    'lap' '(min-width: 650px) and (max-width: 1023px)',
    'desk' '(min-width: 1024px)'
);