@if $show-design == true{ 
  $bg-size-prop: auto;
  html { 
    background: url(../images/design-960-2-spalter.png) no-repeat top center scroll; 
    -webkit-background-size: $bg-size-prop;
    -moz-background-size: $bg-size-prop;
    -o-background-size: $bg-size-prop;
    background-size: $bg-size-prop;
  }
}