@charset "UTF-8";
/*
Theme Name: Pragmatic
Theme URI: http://www.pragmaticcoach.dk/
Author: IT-Kollektivet
Author URI: http://www.it-kollektivet.dk/
Description: Custom theme for Pragmatic (Based on blankslate)
Version: 1.2
*/
@import "_vars"; 
@import "_reset";
@import "_normalize";
@import "_split";
@import "../grid/csswizardry-grids";
@import "_fonts";
@import "_templatev6";
@import "_search";

img {
	height: auto;
	max-width: 100%; 
	width: auto;
}
/**
 * Utilities
 */
.center {
	display: block;
	margin: auto;
	text-align: center;
}

@mixin only-in($names){
	@each $name in $names{
		.#{$name}--only { display:none; }
	}
}
@function filter($filter, $list, $position:1){
	$return: ();
	@each $item in $list{
		$value: nth($item, $position);
		@if( not compare($value,$filter) ) {
			$return: append($return, $value)
		}
	}
	@return $return;
}
/**
 * Add "--not" after a device name to hide it.
 * Use [device name]--center to center an element.
 * Use [device name]--only to only show it in that device width
 */
@each $breakpoint in $breakpoints{
	$name: nth($breakpoint, 1);
	@include grid-media-query( $name ) {
		.#{$name}--only { display:inline-block;}
		.#{$name}--none { display:none; }
		.#{$name}--center {
			display: block;
			margin: auto;
		}
		@include only-in( filter($name, $breakpoints) );
	}
}
// Define media-queries using named break points
// @include grid-media-query("palm") {
// 	.top-beam { display: none; }
// }


// /**
//  * List arrows - not implemented yet
//  * // Turn off the bullet for an element of a list
//  */
// @mixin no-bullet {
//   list-style-image : none;
//   list-style-type  : none;
//   margin-left      : 0;
// }

// // turns off the bullets for an entire list
// @mixin no-bullets {
//   list-style: none;
//   li { @include no-bullet; }
// }

// // Make a list(ul/ol) have an image bullet.
// //
// // The mixin should be used like this for an icon that is 5x7:
// //
// //     ul.pretty
// //       +pretty-bullets("my-icon.png", 5px, 7px)
// //
// // Additionally, if the image dimensions are not provided,
// // The image dimensions will be extracted from the image itself.
// //
// //     ul.pretty
// //       +pretty-bullets("my-icon.png")
// //
// @mixin pretty-bullets($bullet-icon, $width: image-width($bullet-icon), $height: image-height($bullet-icon), $line-height: 18px, $padding: 14px) {
//   margin-left: 0;
//   li {
//     padding-left: $padding;
//     background: image-url($bullet-icon) no-repeat ($padding - $width) / 2 ($line-height - $height) / 2;
//     list-style-type: none;
//   }
// }

