@charset "UTF-8";
/*------------------------------------*\
    STYLE.CSS
\*------------------------------------*/
/**
 * Here we include the csswizardry-grids framework, and add our
 * project-specific components.
 */
/**
 * Setup
 */
/* only used while designing */


H2 {
	line-height:36px;
	margin:0 0 36px 0;
}	
	
H3 {
	line-height:24px;
	margin:36px 0 24px 0;
	color:#4D4D4D;
}
	
H4 {
	line-height:20px;
	margin:36px 0 12px 0;
	color:#4D4D4D;
}
	
p {
	line-height:20px;
}

.panel ul{
	margin:-20px 0 18px 0;
}

.flat h3, .flat h4 {
	font-size:18px;
	margin-bottom:18px;
}

.footer {
	background-color:#222;
}
.footer h3, .footer h4 {
	color:#F48245;
}

.footer .special-one-third {
	width:100%;
	}